{%extends 'index.html'%}

{%block content%}

<h1>List</h1>


<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Track Name</th>
        <th>Actions</th>

    </tr>
    {%for t in trainees%}
    <tr>
        <td>{{t.id}}</td>
        <td>{{t.name}}</td>
        <td>{{t.track.name}}</td>
        <td>
            <a href="{%url 'Update_Trainee' t.id %}">Update</a>
            <a href="{%url 'Delete_Trainee' t.id %}">Delete</a>
        </td>


    </tr>
    {%endfor%}
</table>


{%endblock%}